<!-- FOOTER -->
<footer class="footer">
    <ul class="footer__links">
      <h3>Tienda</h3>
      <li><a href="https/www.adalab.es">Productos</a></li>
      <li><a href="https/www.adalab.es">Cajoneras</a></li>
      <li><a href="https/www.adalab.es">Para toda la casa</a></li>
      <li><a href="https/www.adalab.es">Habitaciones</a></li>
    </ul>
    <ul class="footer__links">
      <h3>Nosotros</h3>
      <li class="links__item"><a href="https/www.adalab.es">Nuestra Guía</a></li>
      <li class="links__item"><a href="https/www.adalab.es">Nuestra historia</a></li>
      <li class="links__item"><a href="https/www.adalab.es">Nuestro diseño</a></li>
      <li class="links__item"><a href="https/www.adalab.es">Ayuda</a></li>
    </ul>
    <ul class="footer__links">
      <h3>Contacto</h3>
      <li class="links__item">
        <a href="mailto:ayuda@openspaces.com">ayuda@openspaces.com</a>
      </li>
      <li class="links__item"><a href="https/www.adalab.es">Socios</a></li>
      <li class="links__item">
          Linkedin
          Instagram
          Twitter
      </li>
    </ul>
    <ul class="footer__link">
      flecha icono
    </ul>
  </footer>