<!-- FOOTER -->
<footer class="footer">
    <ul class="footer__link--1">
      <h3 class="footer__title">tienda</h3>
      <li class="links__item"><a href="https/www.adalab.es" target="_blank">Productos</a></li>
      <li class="links__item"><a href="https/www.adalab.es">Cajoneras</a></li>
      <li class="links__item"><a href="https/www.adalab.es">Para toda la casa</a></li>
      <li class="links__item"><a href="https/www.adalab.es">Habitaciones</a></li>
    </ul>
    <ul class="footer__link--2">
      <h3 class="footer__title">nosotros</h3>
      <li class="links__item"><a href="https/www.adalab.es">Nuestra Guía</a></li>
      <li class="links__item"><a href="https/www.adalab.es">Nuestra historia</a></li>
      <li class="links__item"><a href="https/www.adalab.es">Nuestro diseño</a></li>
      <li class="links__item"><a href="https/www.adalab.es">Ayuda</a></li>
    </ul>
    <ul class="footer__link--3">
      <h3 class="footer__title">contacto</h3>
      <li class="links__item">
        <a href="mailto:ayuda@openspaces.com">ayuda@openspaces.com</a>
      </li>
      <li class="links__item"><a href="https/www.adalab.es">Socios</a></li>
    </ul>

      <li><a class="social-nav" href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
          Linkedin
          Instagram
          Twitter
      </li>
    
    <ul class="footer__link">
      flecha icono
    </ul>
  </footer>