<header class="header">
    <nav class="nav">
        <i class=""></i>
        <ul>
          <li><a class="#">Productos</a></li>
          <li><a class="#">Colecciones</a></li>
          <li><a class="#">Tienda</a></li>
          <li><a class="#">Inicio</a></li>
        </ul>
      </nav>
    <img src="./assets/images/logo.png" alt="Logo Open Spaces" />
    <!--Aqui va mi imagen de fondo-->
    <h1>Disfruta creando espacios</h1>
    <button class="buy-button" >Comprar ahora</button>  
  </header>