<header class="header">
  <nav class="nav1-container">
    <!--Aqui va mi imagen de fondo-->
    <a href="https://www.adalab.es"><img class="menu_hamburguer" src="./assets/images/bars-solid.svg"></a> 
    <div class="header__nav__menu">
          <ul class="list-nav">
              <li class="item-nav"><a href="https:www.adalab.es">Productos</a></li>
              <li class="item-nav"><a href="https:www.adalab.es">Colecciones </a></li>
              <li class="item-nav"><a href="https:www.adalab.es">Tienda</a></li>
              <li class="item-nav"><a href="https:www.adalab.es">Inicio </a></li>
          </ul> 
    </div>
  </nav>
  <div class="container-header">
    <img src="./assets/images/logo.png" alt="Logo Open Spaces" class="logo-header">
    <!--Aqui va mi imagen de fondo-->
    <h1 class="title-header">Disfruta creando espacios</h1>
    <a href="https://www.adalab.es"> <button class="buy-button">Comprar ahora</button></a>
  </div> 
  </header>
