<main>
    <!--Aqui empieza la section 1-->
    <section class="section1">
        <h2 class="title-section1">Volverse organizado se siente mejor con OPEN SPACES</h2>
        <article class="article1">
            <img class="table-icon" src="./assets/images/icon_1.png" alt="table icon">
            <h3 class="title1-h3">Lo que necesitas </h3>
            <p class="text-article1">Una línea de productos diseñados para todos tus espacios</p>
        </article>
        <article class="article2">
            <img class="materials" src="./assets/images/icon_2.png" alt="raw materials">
            <h3 class="title2-h3">Materias primas sustentables</h3>
            <p class="text-article2">Todos los productos con materias primas sustentables</p>
        </article>
        <article class="article3">
            <img class="guide" src="./assets/images/icon_3.png" alt="help guide">
            <h3 class="title-h3">Guía</h3>
            <p class="text-article3">Soporte y asesoramiento para ayudarte con tu objetivo</p>
        </article>
    </section>
    <!--Aqui empieza la section 2-->
    <section class="section2">
        <img class="shipping" src="./assets/images/icon_4.png" alt="free shipping">
        <h4>Envío gratis garantizado</h4>
        <p class="free-send">Envío gratis en compras desde 100</p>
        <p class="link-section2"><a href="https://www.adalab.es">Comprar ahora</a></p> 
    </section>
    <!--Aquí empieza la section 3-->
    <section class="section3">
        <article class="article-section3">
            <div class="container-section3">
            <h2 class="h2-section3">Disfruta creando espacios</h2>
            <p class="products-line">Una linea de productos diseñados para todos tus espacios</p>
            </div>
            <a href="https://www.adalab.es"><button class="buy-buttonMain">comprar ahora</a></button> 
        </article>
    </section>
    <section class="section4">
            <img class="toilet-image" src="./assets/images/creando-espacios.jpg" alt="toilet space">
    </section>
    
  </main>
