/* Esto es de la plantilla 
// fonts
$font-main: 'Roboto', sans-serif;  */

//Image header
$headerImage: url("../images/header.jpg");

//Colors
$light-grey: #f0ebe5;
$orange: #ff975a;
$dark-blue: #0c474b;
$dark-grey: #b6c8c9;
$white: #ffffff;

//Fonts
$fontText: "poppins";
