.header {
  background-image: $headerImage;
  background-size: cover;
  width: 100%;
  height: 100vh;

  .container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    @media (min-width: 1200px) {
      align-items: flex-start;
    }
  }

  .logo-header {
    width: 213px;
    height: 96px;
    margin: 19px 101px 0px 100px;
    @media (min-width: 1200px) {
      margin: 0;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      top: 39px;
    }
  }

  .title-header {
    color: $dark-blue;
    font-family: $fontText;
    font-size: 24px;
    width: 414px;
    height: 38px;
    text-align: center;
    margin-top: 100px;
    @media (min-width: 1200px) {
      display: flex;
      align-items: flex-start;
      margin-left: 280px;
      text-align: start;
      font-size: 36px;
      font-weight: 600px;
      width: 430px;
      height: 112px;
    }
  }

  .menu_hamburguer {
    width: 24px;
    height: 24px;
    border-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    margin-top: 55px;
    margin-right: 43px;
    margin-left: 33px;

    @media (min-width: 1200px) {
      display: none;
    }
  }

  .list-nav {
    display: none;
    @media (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      list-style: none;
      padding-top: 76px;
      padding-left: 407px;
      width: 704px;
    }
  }

  .buy-button {
    background-color: $dark-blue;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 176px;
    height: 48px;
    font-family: $fontText;
    color: $white;
    font-size: 16px;
    font-weight: 600;
    padding-top: 12px;
    margin-top: 24px;

    @media (min-width: 1200px) {
      margin-left: 280px;
      width: 176px;
      height: 48px;
    }
  }
  .item-nav a {
    @media (min-width: 1200px) {
      text-decoration: none;
      color: $dark-blue;
      font-family: $fontText;
      font-size: 16px;
      font-weight: normal;
      margin-right: 23px;
    }
  }
  /*.item-nav {
    a { transition: text-decoration 0.3s;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  /* 
  a:hover {
    animation-duration: 10s;
    animation-iteration-count: 3;
    animation-name: colors;
  }
  @keyframes;
  colors {
    from {
      color: blue;
    }

    10% {
      color: green;
    }

    25% {
      color: cyan;
    }
  }*/
}
