main {
  //Corresponde a la section 1
  .section1 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    font-family: $fontText;
    height: 1108px;
    background-color: $light-grey;
  }
  h2 {
    width: 322px;
    height: 113px;
    font-size: 24px;
    font-family: $fontText;
    font-weight: 600px;
    color: $dark-blue;
    text-align: center;
    margin: 41px 47px 0px 45px;
  }
  .article1 .article2 .article3 {
    margin-top: 37px;
  }

  .container-h2-main {
    width: fit-content;
    height: fit-content;
  }
  //Corresponde a article 1

  .table-icon {
    margin: 0px 168px 0px 156px;
    justify-content: center;
    width: 90px;
    height: 99px;
  }
  .title1-h3 {
    width: 208px;
    height: 23px;
    text-align: center;
    font-family: $fontText;
    color: $dark-blue;
    font-weight: 600px;
    margin: 47px 103px 0px 103px;
  }
  .text-article1 {
    width: 208px;
    height: 96px;
    margin: 12px 103px 0 103px;
    font-family: $fontText;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    color: $dark-blue;
  }
  //Corresponde a article 2
  .materials {
    margin: 63px 168px 46.5px 174px;
    justify-content: center;
    width: 90px;
    height: 90px;
  }
  .title2-h3 {
    width: 270px;
    height: 23px;
    text-align: center;
    justify-content: center;
    font-family: $fontText;
    color: $dark-blue;
    font-weight: 600px;
    margin: 0px 59px 0px 64px;
  }
  .text-article2 {
    width: 208px;
    height: 96px;
    margin: 53px 100px 31px 106px;
    font-family: $fontText;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    color: $dark-blue;
  }
  //Corresponde al article 3
  .guide {
    margin: 0px 160.6px 37.5px 174.6px;
    justify-content: center;
    width: 90px;
    height: 90px;
  }
  .title-h3 {
    width: 208px;
    height: 23px;
    text-align: center;
    font-family: $fontText;
    color: $dark-blue;
    font-weight: 600px;
    margin: 0px 95px 12px 111px;
  }
  .text-article3 {
    width: 208px;
    height: 96px;
    margin: 0px 95px 18px 111px;
    font-family: $fontText;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    color: $dark-blue;
  }
  //Corresponde a la section 2
  .section2 {
    background-color: $orange;
    height: 352px;
    display: grid;
    grid-template-rows: 1fr 1 fr 1fr;
  }
  .shipping {
    width: 112px;
    height: 98px;
    margin: 46px 152px 0px 142px;
  }
  h4 {
    width: 414px;
    height: 41px;
    font-family: $fontText;
    font-size: 24px;
    color: $white;
    font-weight: 600px;
    text-align: center;
    margin-top: 10px;
  }
  .free-send {
    width: 375px;
    height: 31px;
    text-align: center;
    margin: 0px 37px 0px 12px;
    font-family: $fontText;
    font-size: 14px;
    font-weight: normal;
    color: $white;
  }
  .link-section2 {
    width: 127px;
    height: 24px;
    justify-content: center;
    text-align: center;
    margin: 0px 148px 51px 139px;
    font-family: $fontText;
    font-size: 16px;
    font-weight: 600px;
  }
  a {
    color: $white;
  }
  //Corresponde a la section 3
  .section3 {
    height: 339px;
    background-color: $light-grey;
    display: flex;
  }
  .container-section3 {
    width: 360px;
    height: 112px;
    margin: 87px 27px 0px 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .h2-section3 {
    font-family: $fontText;
    font-size: 24px;
    color: $dark-blue;
    font-weight: 600px;
  }
  .products-line {
    width: 370px;
    justify-content: center;
    text-align: center;
    margin: 0px 148px 51px 139px;
    font-family: $fontText;
    color: $dark-blue;
    font-size: 14px;
    font-weight: normal;
    margin: 10px 27px 0px 27px;
  }
  .buy-buttonMain {
    width: 176px;
    height: 48px;
    background-color: $dark-blue;
    color: $white;
    text-transform: capitalize;
    font-family: $fontText;
    font-size: 16px;
    font-weight: 600px;
    margin: 24px 116px 92px 122px;
  }
  .article-section3 a {
    text-decoration: none;
  }
  //Corresponde a la section 4
  .section4 {
    width: 414px;
    height: 304px;
    margin-bottom: 200px;
  }
}
